@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SpoqaHanSansNeo-Regular";
}

.m0a {
  margin: 0 auto;
}

.p-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
